//= require "reset"
//= require "base"
/**
 * Example CSS File
 */
a { color: <%= LINK_COLOR %>; }
a:hover { color: <%= LINK_HOVER_COLOR %>; }
body { background: <%= BACKGROUND %>; font-family: helvetica, arial, sans-serif;}
