//= require "reset" minify
//= require "base"
/**
 * Example CSS File
 *
 * note the "minify" option in the require statement
 */
a { color: <%= LINK_COLOR %>; }
a:hover { color: <%= LINK_HOVER_COLOR %>; }
body { background: <%= BACKGROUND %>; font-family: helvetica, arial, sans-serif;}
